.profileContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.profileContent {
  display: block;
  width: 100%;
}

.responsiveButtons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

@media (max-width: 768px) {
  .responsiveButtons {
    justify-content: center !important;
  }
}

.profileAvatar {
  text-align: center;
}
