.profile-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.profile-content {
  display: block;
  width: 100%;
}

.responsive-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}

@media (max-width: 768px) {
  .responsive-buttons {
    justify-content: center !important;
  }
}

.profile-avatar {
  text-align: center;
  margin-bottom: 24px;
}
