.userListContainer {
  max-width: 1000px;
  min-height: 280px;
  min-width: 280px;
  margin: 0 auto;
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #fff;
}

.userListTitle {
  text-align: center;
  margin-bottom: 32;
}

.userListItem {
  display: flex;
  justify-content: center;
}
